<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>DEEP Image classification</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link type= "text/css" rel="stylesheet" href="../static/css/normalize.css">
    <link type= "text/css" rel="stylesheet" href="../static/css/skeleton.css">
    <link type= "text/css" rel="stylesheet" href="../static/css/general.css">
    <link type= "text/css" rel="stylesheet" href="../static/css/custom.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="./static/images/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <section class="header">
        <h1 class="center"  style="margin-top: 25%">Image classification</h1>
    </section>
    <div class="docs-section">
        <div class="row">
          <div class="eight columns offset-by-two column">
              <h4>Labels</h4>
              <ul>
                {% for label in labels %}
                  <li>{{label}}</a></li>
                {% endfor %}
              </ul>
          </div>
      </div>
    </div>
</div>
</body>
</html>
